body {
  font-family: 'Open Sans', sans-serif;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 0px;
}

.section {
  margin: auto 5% 20px 5%;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gp-link {
  margin-right: 20px;
}

a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #42A5F5;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;

  border-bottom: 1px solid rgba(52,73,94,0.4);
  font-weight: 500;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

a::before,
a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a:hover {
  color: #42A5F5;
  border-color: rgba(52,73,94,0);
  background-color: rgba(52,73,94,0.1);
}