html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding-bottom: 124px; /* footer height */
  min-height: 100%;
}

.page {
  margin: auto 5% 20px 5%;
}

.section {
  margin-top: 40px;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 0px;
}

.navbar {
  width: 107%;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gp-link {
  margin-right: 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: whitesmoke;
  text-align: center;
}

a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #42A5F5;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;

  border-bottom: 1px solid rgba(52,73,94,0.4);
  font-weight: 500;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

a::before,
a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a:hover {
  color: #42A5F5;
  border-color: rgba(52,73,94,0);
  background-color: rgba(52,73,94,0.1);
}